
<footer class="border-top footer text-white py-3 bg-secondary mt-5">
    <div class="container text-center">
        &copy; 2021 - e-Furniture- <a asp-area="" asp-controller="Home" asp-action="Index" class="text-white ms-3">Home</a>
    </div>
</footer>