i{
font-size:1rem;
}


.image-height {
    height:150px;
}
.card-list {
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.3);
}

    .card-list:hover {
        box-shadow: 0 0 10px 2px rgba(0,0,0,0.6);
        cursor: pointer;
    }
.text-botom {
    position: absolute;
    bottom:50px;
    right: 20px;
    left: 20px;
    font-weight:bold;
}


.space{
   height:100px;
}

.text-style{
   font-family: 'Times New Roman', Times, serif;
}

.page-container {
    position: relative;
    min-height: 100vh;
    padding-bottom: 10rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}