@{
    ViewData["Title"] = "Home Page";
}


    <img src="./images/6.jpeg" class="mt-5 col-12 home-image" />
    <div class="container  ">
        <div class="row">
            <img src="./images/1.jpg" class="mt-5 col-6" />
            <img src="./images/2.jpg" class="mt-5 col-6" />
            <img src="./images/3.jpg" class="mt-5 col-6" />
            <img src="./images/4.jpg" class="mt-5 col-6" />
        </div>
        
    </div>
    

